{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}山东专升本论坛 - 用户登陆{% endblock %}

{% block page_content_for_write %}
<div class="page-header">
    <h2>登录</h2>
</div>

<div class="col-md-4">
    {{ wtf.quick_form(form) }}
    <p >
        新用户?
        <a href="{{ url_for('auth.register') }}" style="color:red;r">
            点此注册
        </a>
        <a href="{{ url_for('auth.password_reset_request') }}" style="float:right;">忘记密码？</a>
    </p>

</div>

{% endblock %}
