body{
    background:#f3f3f3 !important;
}

/* 顶部header  logo+nav导航区域*/

header {
    position: relative;
    height: 160px;
}
header .logo {
    height: 100px;
    min-width: 1060px;
    background: rgba(213, 100, 100, 1);
    text-align: center;
    line-height: 100px;
}
.footer {
    min-width: 1060px;
}


header .logo p{
    display:none;
}
header .logo a{
    font-size:2em;
    font-family:Arial;
    text-decoration:none;
    color:#fff;
    transition: 1s all;
}
header .logo a:hover{
    font-size:2.5em;
    color:#fff;
}

header .my-nav {
    position: relative;
    background: #4a4a4a;
    height: 55px;
    text-align: center;
    margin: 0;
}

header .navbar {
    display: inline-block;
    background: #4a4a4a;
    border: None;
    margin: 0;
    font-size: 1.1em;
    z-index:1;

}

header .navbar .container a {
    height: 55px;
    color: #eee;
}
ul.navbar-left li :focus,
ul.navbar-left li :hover {
    background: rgba(213, 100, 100, 1) !important;
    color: #262626;
}
ul.navbar-left li>a :active {
    background: rgba(213, 100, 100, 1) !important;
    color: #262626;
}




header .navbar-brand:hover {
    background: rgba(213, 100, 100, 1) !important;
    color: #262626 !important;
}


/*search*/

header form.search {
    height: 55px;
}

.search label {
    display: none;
}

.search input {
    display:none;
    width: 7em;
    height:30px;
    margin: 12px;
    border:none;
    border-radius: 2px;
    background:#fff;
    transition: .5s all;
}

.search input:focus {
    width: 10em;
}


/*main_area区域*/
.container{
    width:1060px;
}
section#main_area .page-header,
section#main_area .topic,
section#main_area article{
    border-radius:2px;
}
section#main_area .page-header{
    margin: 0px 0 20px;
}
section#main_area .user-profiile-header{
    background:#fff;
    margin-bottom:10px;
}
section#main_area {
    min-height:800px;
    width:1020px;
    padding:0 3px;
}

section#main_area div.inner {
   /* margin: 0px 10px;*/
    /*border: 3px solid red;*/
}

section#main_area #first_col div.inner {
  /*  margin:16px 0 0;*/
    /*border: 3px solid red;*/
}

section#main_area article {
    float: left;
    width: 700px;
    /*    border: 2px solid black;*/
}
section#main_area .page-header ~ article {
    background:#fff;
    margin-bottom:35px;
    padding:0 20px;
}

section#main_area aside {
    float: right;
    width: 300px;
}




article#second_col a.icon_lists{
    float:left;
    color:#B5B5B5;
    transition:.2s all;
    text-decoration:none;
    margin:0 10px 0 0;
}
article#second_col a.icon_lists:hover{
    color:#828282;
}
article#second_col a.post-edit{
    text-decoration:none !important;
    color:#48D1CC;
}
article#second_col a.post-edit:hover{
    font-weight:bold;
}

/*侧边栏*/
/* social */
#social_area{
    padding:10px;
    margin-bottom:10px;
}
#social_area .inner{
    position:relative;
}
#social_area span{
    display:inline-block;
    margin: 0 5px;
}
a:link,a:hover{
    text-decoration:none;
}
#social_area svg:hover{
    opacity:.5;
}
.popup{
    position:absolute;
    display:none;
    top:140%;
    border:1px solid #f58c21;
    border-radius:3px;
}
.popup img{
    width:200px;
}
#social_area span:hover .popup{
    display:block;
}
#social_area span .popup:before { /*橙色三角形*/
    content:""; /*需要有内容，这里是一个空字符串*/
    position:absolute; /*相对于弹出层定位*/
    border:12px solid;
    border-color: transparent transparent #f58c21 transparent;
    top: -12%; left:10%;
    height:0px;width:0px
    z-index:10;
}
#social_area span .popup:after { /*白色三角形*/
    content:""; /*需要有内容，这里是一个空字符串*/
    position:absolute; /*相对于弹出层定位*/
    border:10px solid;
    border-color: transparent transparent #fff transparent  ;
    top: -10%; left:11%;
    height:0px;width:0px
    z-index:1000;
}




/* 侧边栏之topic */
aside#first_col .title p{
    font-size:1.3em;
    font-weight:500;
    color:#555;
    margin:0 10px;
    padding:10px 0;
    border-bottom: 1px solid #eee;
}
aside#first_col .inner .topic{
    background:#fff;
    font-size:13px;
    height:300px;
    margin:0 0 5px;
    border:none;
    border-radius:3px;
    overflow:hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,.1)
}


/*最新文章！*/
article#second_col .nav-tabs div{
    margin:0;
    padding:0 0 5px;
    color:gray;
    font-size:1.3em;
}

/* 响应式布局*/




/* 源文件中是min-width：992px，但还有min-width：1200等，所以不用指定max-width*/
/*@media screen and (min-width: 992px) and (max-width:1200px){

    .container {
        width: 1100px;
    }
}*/


/* account 样式 */

.dropdown-menu > li > a{
    line-height:50px;
}


/*只有点击accout后，才会出现open这个class*/
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    color: #262626;
    background-color: rgba(213, 100, 100, 1);
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: #262626;
    background-color: rgba(213, 100, 100, 1);
}

.dropdown-menu {
    background-color:#4a4a4a;
    padding:0;
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
    color: #eee; /*建议每个导航hover时字体颜色都为这个。*/
    text-decoration: none;
    background-color: rgba(213, 100, 100, 1);
}



/*left nav*/
ul.navbar-left .dropdown-menu:hover {
    color: #262626;
    background-color:#4a4a4a !important;
}

.navbar-left .actived{
    background:rgba(213, 100, 100, 1);
}


/*markdown支持图片*/
/* 调整图片大小 */
.flask-pagedown-preview img{
    width:100%;
}

/* 文章摘要列表，添加显示图片*/
img.wrap-img{
    top:0%;
    right:0%;
    width:150px;
    height:120px;
    border-radius:4px;
    border:1px solid #f0f0f0;
}




/* go back site top!!*/
div.go-top {

    opacity: 0.6;
    z-index: 999999;
    position: fixed;
    bottom: 250px;
    left: 75%;
    margin-left: 40px;
    border: 1px solid #0482ba;
    width: 38px;
    height: 38px;
    background-color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

div.go-top:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

div.go-top div.arrow {
    position: absolute;
    left: 10px;
    top: -1px;
    width: 0;
    height: 0;
    border: 9px solid transparent;
    border-bottom-color: #0482ba;
}

div.go-top div.stick {
    position: absolute;
    left: 15px;
    top: 15px;
    width: 8px;
    height: 14px;
    display: block;
    background-color: #0482ba;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}



/* for hot-posts */


.hot-posts p{
    margin: 4px 10px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

ul.posts{
    margin-top:8px;
}


/* web-site footer*/
.footer{
    color:#fff;
    background:#2A2F35;
    height:225px;
    z-index:100;
    overflow:hidden;
}
.clearfix:after {
           content:".";
           display:block;
           height:0;
           visibility:hidden;
           clear:both;
}
.footer-cont {
    background: #2a2f35;
    width: 960px;
    margin: 0 auto;
    padding: 20px 0;
}
.ft-web-info {
    float: left;
    padding: 0 20px;
    margin: 0 20px 0 0;
    display:block;
}
.ft-web-name {
    font-size: 20px;
    color: #fff;
    margin: 20px 0 30px;
    font-weight:400 !important;
}
.ft-info-item {
    color: #8793a2;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 5px;
}


.ft-app {
    float: left;
    width: 200px;
    text-align:center;
}
.ft-qrcode-box{
    background-color: #5b646d;
    padding: 7px;
    margin: 0 29px;
    margin-bottom: 12px;
}
.ft-main {
    float: right;
    width: 300px;
    border-left: 1px solid gray;
    margin-top: 20px;
}
.ft-links li {
    display: inline-block;
    margin: 0 15px 5px 0;
}
.ft-main a{

}
.webrights a{
    color:#798fac;
}
.ft-links a {
    font-size:12px;
    color: #a9b8ca;
}
a:link,a:visited {
    text-decoration: none;
}
.webrights a:hover,
.ft-links a:hover {
    color: #43CD80;
}
.ft-main ul{
    list-style:none;
}
.ft-main


/* 单篇文章详情页面*/
.inner > ul.posts{
    margin-top:60px;
    border-top:none;
}



/* right navbar --改动：把navbar-right从collapse in 中取出去作为其兄弟元素*/
ul.navbar-right{
    position: absolute;
    top: 0%;
    right: 2%;
}

/* 分数查询页面 */
#query_button{
    margin-bottom:20px;
    border:1px solid #f77c3d;
}
.score_form{
    margin-top:20px;
}

/* other页面 */
#new_article textarea{
    height:130px;
    resize:none;
}



    /* 用户管理页面 */

#manage_body {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
#manage_body .table-responsive{
    padding: 20px;
}
#manage_body .pagination{
    text-align: center;
}
#manage_body .table{
    border-bottom: 1px solid gainsboro;
}
#manage_body .btn{
    font-size: 12px;
}
.dropdown-menu.for-user-manage{
    background:#fff;
    min-width:auto;
}
.dropdown-menu.for-user-manage a{
    line-height:2em;
}
.dropdown-menu.for-user-manage > li > a:focus,
.dropdown-menu.for-user-manage> li > a:hover {
    text-decoration: none;
    background-color: #5CB85D;
    border: 1px solid #4cae4c;
}