


/*
.profile-thumbnail {
    position: absolute;
}*/


/* 主页 */
#notice{
    margin-bottom:10px;
    padding:10px;
}
.page-header > h1{
    font-size:2em;
}
#second_col > .inner > div > form{
    padding:10px;
}
#second_col > .inner > div > form > input{
    float:right;
    margin-bottom: 5px;
}



/* 更改个人资料页面*/

#about_me{
    resize:none;
    width:90%;
    height:100px;
}
#school,#major,#name{
    width:30%;
    min-width:190px;
}

/* 单个文章页面 */
#second_col > .inner > .posts{
    margin-top:20px;
}
/* 为防止单个文章页面的修改对user页面中的文章页面造成影响，单独定义user页面中的post列表*/
#second_col > .inner h3 + .posts {
    margin-top:0px;
}


/* 发布文章按钮*/
form input#submit{
    border:1px solid #f77c3d;
}


.img-rounded.profile-thumbnail{
    /*position:absolute;*/
}
.for-pc{
    margin-top:60px;
    margin-left:30px;
    position:absolute;
}
.img-rounded{
    border-radius:50%;
}
.profile-header {
    min-height: 260px;
    margin-left: 250px;
    padding-left:20px;
    overflow:hidden;
}
.profile-header > h1 {
    margin-bottom:30px;
}

.profile-header a.btn-default.edit-profile{
    margin-right: 10%;
    float: right;
    background: #0f88eb;
    color: #fff;
    font-weight: bold;
    border: none;
}

.page-header{
    margin-bottom:10px;


}
.profile-header > h3 {
    margin-bottom:40px;
}
div.post-tabs {
    margin-top: 10px;
}
div.post-tabs > .nav-tabs{
    background:#fff;
}
div.post-tabs > .nav-tabs a{
    color:gray;
}
div.post-tabs > .nav-tabs li.active a{
    color:black !important;
    font-weight:500;
}


ul.posts {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    /*border-top: 1px solid #e0e0e0;*/
}
div.post-tabs ul.posts {
    margin: 0px;
    border-top: none;
}
ul.posts li.post {
    position:relative;
    background:#fff;
    margin:0 0 10px;
    padding: 20px 18px 8px 18px;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);


}
/*ul.posts li.post:hover {
    background-color: #f0f0f0;
}*/
div.post-date {
    float: right;
}
div.post-author {
    font-weight: 500;
}
div.post-thumbnail {
    position: absolute;
}
div.post-content {
    min-height: 48px;
    overflow:hidden;
}
div.post-footer {
    text-align: right;
    padding-top:5px;
}
#comment #body{
    height:60px;
}

ul.comments {
    list-style-type: none;
    padding: 10px;
    margin: 16px 0px 0px 0px;
    background:#fff;
}
ul.comments li.comment {
    margin-left: 5px;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.comments li.comment:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}
ul.comments li.comment:hover {
    background-color: #f0f0f0;
}
div.comment-date {
    float: right;
}
div.comment-author {
}
.comment-author a{
    color:black;
    font-weight:500;
}
div.comment-thumbnail {
    position: absolute;
}
div.comment-content {
    margin-left: 46px;
    min-height: 48px;
}
div.comment-form {
    margin: 0px 10px 50px 0px;
}
div.pagination {
    width: 100%;
    text-align: left;
    padding: 0px;
    margin: 0px;
}

/*markdown 相关*/

textarea#flask-pagedown-body,div.flask-pagedown-preview{
    width:100%; /* 使文本输入框与其父元素（col-md-6）宽度一致 */
    min-height:100px;
    margin: 10px 0px 10px 0px;
    padding: 4px;
    border: 1px solid #e0e0e0;
}

div.flask-pagedown-preview{
    background: #fcfaf2;
}
.col-md-6.flask-pagedown-for-body{
    padding:0;
}


div.flask-pagedown-preview h1 {
    font-size: 140%;
}
div.flask-pagedown-preview h2 {
    font-size: 130%;
}
div.flask-pagedown-preview h3 {
    font-size: 120%;
}
.post-body h1 {
    font-size: 140%;
    margin-top:7px;
}
.post-body h2 {
    font-size: 130%;
}
.post-body h3 {
    font-size: 120%;
}

.post-body blockquote {
    margin:5px 0;
    padding:5px 10px;

}
.table.followers tr {
    border-bottom: 1px solid #e0e0e0;
}

/* following is  added lately.*/

div.post-author .create-time{
    margin:0 0 0 1em;
    font-size:1em;
    font-weight:normal;
    color:#969696;
}

div.post-content div.post-title{
    margin: 4px 0 4px;
    font-size:18px;
    font-weight:800;
}
div.post-content div.post-title a{
font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
        color:#333;
    text-decoration:none;
}
div.post-author .author-name{
    color:black;
    text-decoration:none;
}

div.post-body{
    padding:20px;
}
div.post-body.post-abstract{
    padding:10px 0;
    font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}

˙
    /* 修改粉丝数量徽章*/
.badge{
    margin-right:10px;
    background-color:mediumturquoise;
}


#second_col .page-header + h3{
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
    /* user页面post列表的标题：最新动态 */
#second_col .inner div > h3{
    font-weight: 500;
    font-size: 20px;
    border-bottom: 1px solid #f0f2f7;
}
#second_col > .inner div + .posts {
    margin-top: 0px;
}

    /* 登录、注册、修改等页面 */
#main_area .col-md-4{
    float:none;
    margin-left:auto;
    margin-right:auto;
}