<div class="footer">
    <h3>footer内部测试</h3>
    <div class="footer-cont clearfix">
        <dl class="ft-web-info">
            <dt class="ft-web-name">升本圈儿，升本人必备的升学论坛</dt>
            <dd class="ft-info-item">QQ群：601186975</dd>
            <dd class="ft-info-item">微信：www_zsblab_com</dd>
            <dd class="ft-info-item"></dd>
        </dl>
        <div class="ft-app">
            <div class="ft-qrcode-box">
                <img width="128" src="http://uploadfiles.nowcoder.com/app/app_download.png">
            </div>
            <p>扫一扫，寻找更多战友</p>
        </div>

        <div class="ft-main">
            <ul class="ft-links">
                <li><a href="###">关于我们</a></li>
                <li><a href="###">升本经验</a></li>
                <li><a href="###">政策大纲</a></li>
                <li><a href="###">资料下载</a></li>
                <li><a href="###">分数查询</a></li>
            </ul>
            <ul class="webrights">
                <li>
                    <span style="color:#a9b8ca;">已备案</span>
                </li>
                <li>
                    <span>
                    <img src="/static/web-file/wechat.jpg"
                         style="width:18px;height:18px;">
                    <a style="font-size:12px;" class="ft-info-item"
                       href="##">
                        阿里云支持</a>
                    </span>
                </li>
                <li>
                    <a href="javascript:void(0);">山东专升本论坛©2017 All Rights Reserved</a>
                </li>
            </ul>
        </div>
    </div>
</div>