<div class="footer">
    <div class="footer-cont clearfix">
        <dl class="ft-web-info">
            <dt class="ft-web-name">ZSBLAB&nbsp; 山东专升本必备升学论坛</dt>
            <dd class="ft-info-item">QQ群：601186975</dd>
            <dd class="ft-info-item">微信：www_zsblab_com</dd>
            <dd class="ft-info-item"></dd>
        </dl>
        <div class="ft-app">
            <div class="ft-qrcode-box">
                <img width="128" src="http://uploadfiles.nowcoder.com/app/app_download.png">
            </div>
            <p>扫一扫，寻找更多战友</p>
        </div>

        <div class="ft-main">
            <ul class="ft-links">
                <li><a href="###">关于我们</a></li>
                <li><a href="###">升本经验</a></li>
                <li><a href="###">政策大纲</a></li>
                <li><a href="###">资料下载</a></li>
                <li><a href="###">分数查询</a></li>
            </ul>
            <ul class="webrights">
                <li>
                    <span style="color:#a9b8ca;font-size:10px;">鲁ICP备17046134号-1</span>
                </li>
                <li>
                    <span>
                    <a style="font-size:12px;" class="ft-info-item"
                       href="##">
                        阿里云</a>
                    </span>
                </li>
                <li>
                    <a href="javascript:void(0);">山东专升本论坛©2017 All Rights Reserved</a>
                </li>
            </ul>
        </div>
    </div>
</div>