<div class="footer">
    <div class="footer-cont clearfix">
        <dl class="ft-web-info">
            <dt class="ft-web-name">升本圈儿，升本人必备的升学神器</dt>
            <dd class="ft-info-item">QQ群：111113142</dd>
            <dd class="ft-info-item">微信：www_nowcoder_com</dd>
            <dd class="ft-info-item">微博：牛客网</dd>
        </dl>
        <div class="ft-app">
            <div class="ft-qrcode-box">
                <img width="128" src="http://uploadfiles.nowcoder.com/app/app_download.png">
            </div>
            <p>扫一扫，把题目装进口袋</p>
        </div>

        <div class="ft-main">
            <ul class="ft-links">
                <li><a href="###">关于我们</a></li>
                <li><a href="###">关于我们</a></li>
                <li><a href="###">关于我们</a></li>
                <li><a href="###">关于我们</a></li>
                <li><a href="###">关于我们</a></li>
                <li><a href="###">关于我们</a></li>
            </ul>
            <ul class="webrights">
                <li>
                    <span style="color:#a9b8ca;">浙ICP备14000860号-2</span>
                </li>
                <li>
                    <span>
                    <img src="//static.nowcoder.com/company/images/res/ghs.png"
                         style="width:18px;height:18px;">
                    <a style="font-size:12px;" class="ft-info-item" target="_blank"
                       href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11011402010078">
                        京公网安备 11011402010078号</a>
                    </span>
                </li>
                <li>
                    <a href="javascript:void(0);">牛客网©2017 All Rights Reserved</a>
                </li>
            </ul>
        </div>
    </div>
</div>