{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}山东专升本论坛_升本人的精神家园! - 发表文章{% endblock %}

{% block page_content_for_write %}

<div class="panel panel-default upload-resource">
    <div class="panel-body create-post">
        <h4>编辑文章</h4>
        {% include "_ckeditor_edit.html"%}
        <dl class="create_album_list upld_tips clearfix">
            <dt class="source_tips">发表须知</dt>
            <dd class="source_tips">* 请勿发表小说等与学习无关的内容.一旦发现将被删除</dd>
            <dd class="source_tips">* 请对您的言行负责，并遵守中华人民共和国有关法律法规,尊重网上道德。</dd>
            <dd class="source_tips">* 转载文章请注明出自“山东专升本论坛（www.zsblab.com）”。如是商业用途请联系原作者。</dd>
        </dl>
    </div>
</div>

{% endblock %}
{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }} {% endblock %}